################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/energy-now-be/FileContentIndex/30a63c94-67e5-4271-a932-72dfce84c8dc.vsidx
/.vs/energy-now-be/FileContentIndex/48cf2a8b-8657-41f4-bb23-f7c94afcbd03.vsidx
/.vs/energy-now-be/FileContentIndex/5bba9c5f-8397-4eeb-9589-528bfec85e48.vsidx
/.vs/energy-now-be/FileContentIndex/c195c42a-bcac-4234-b138-0c68952ecaa5.vsidx
/.vs/energy-now-be/FileContentIndex/72041bae-1601-4420-b3e5-464aca773359.vsidx
/.vs/energy-now-be/FileContentIndex/5099c1ae-a123-461d-9bbe-057600695de8.vsidx
/.vs/energy-now-be/FileContentIndex/e9af2529-f746-4346-a53e-19f300828bea.vsidx
